body {
    margin: 0;
}

#page-subtitle {
    font-size: 25px;
    margin-bottom: 0;
}

#header {
    text-align: center;
    background-color: white;
}

#navigation {
    padding: 15px 15px;
}

#navigation a {
    text-align: center;
    font-size: 20px;
    padding: 0px 20px;

}

#navigation a:not(:last-child) {
    border-right: 1px solid black;
}