
h1, h2, h3, h4, h5, h6, h7 {
    color: #b0751c;
}

.project-details {
    margin: auto;
    max-width: 1000px;
}

.project-details-img {
    text-align: center;
    margin-bottom: 20px;
}

.project-details-img img {
    border-top: 2px solid #b0751c;
    border-bottom: 2px solid #b0751c;
    width: 100%;
    padding: 5px;
}