<div *ngIf="literatureData">

    <!-- Books does not have a 'body' property -->
    <section *ngIf="!literatureData.body">
        <h1>{{ literatureData.title }}</h1>

        <p><markdown [data]="literatureData.summary"></markdown></p>

        <section *ngIf="literatureData.links">
            <h2>Enlaces y descargas</h2>
            <app-links-list [links]="literatureData.links"></app-links-list>
        </section>
    </section>
    
    <!-- Short stories have a 'body' property. Display it -->
    <section *ngIf="literatureData.body">
        <p><markdown [data]="literatureData.body"></markdown></p>
    </section>
</div>
