<div *ngIf="gameData">
    <h1>{{ gameData.title }}</h1>
    <img [src]=gameData.img />
    <p><markdown [data]="gameData.summary"></markdown></p>

    <section *ngIf="gameData.background">
        <h2>Trasfondo</h2>
        <p><markdown [data]="gameData.background"></markdown></p>
    </section>

    <section *ngIf="gameData.mechanics">
        <h2>Mecánicas</h2>
        <p><markdown [data]="gameData.mechanics"></markdown></p>
    </section>

    <section *ngIf="gameData.controls">
        <h2>Controles</h2>
        <ul>
            <li *ngFor="let control of gameData.controls">{{ control.key }}: {{ control.meaning }}</li>
        </ul>
    </section>

    <h2>Créditos</h2>
    <section *ngFor="let credits of gameData.credits.own">
        <h3>{{ credits.title }}</h3>
        <ul>
            <li *ngFor="let person of credits.people">{{ person }}</li>
        </ul>
    </section>

    <section *ngIf="gameData.credits['third-party']">
        <h2>Trabajo de terceros</h2>
        <section *ngFor="let credits of gameData.credits['third-party']">
            <h3>{{ credits.title }}</h3>
            <p *ngIf="credits.body"><markdown [data]="credits.body"></markdown></p>
            <ul>
                <li *ngFor="let resource of credits.resources">
                    <span *ngIf="resource.author">"{{ resource.name }}" - {{ resource.author }}</span>
                    <span *ngIf="!resource.author && resource.href"><a href="{{ resource.href }}">{{ resource.name }}</a></span>
                    <span *ngIf="!resource.author && !resource.href">{{ resource.name }}</span>
                </li>
            </ul>
        </section>
    </section>

    <section *ngIf="gameData.credits.thanks">
        <h2>Agradecimientos</h2>
        <ul>
            <li *ngFor="let thanks of gameData.credits.thanks">{{ thanks }}</li>
        </ul>
    </section>

    <h2>Enlaces y descargas</h2>
    <ul>
        <li *ngFor="let link of gameData.links"><a [href]="link.href">{{ link.text }}</a> <span *ngIf="link.warning"> ({{ link.warning }})</span></li>
    </ul>
</div>
