<div *ngIf="literatureData">

    <!-- Books does not have a 'body' property -->
    <section *ngIf="!literatureData.body">
        <h1>{{ literatureData.title }}</h1>

        <p><markdown [data]="literatureData.summary"></markdown></p>

        <section *ngIf="literatureData.links">
            <h2>Enlaces y descargas</h2>
            <ul>
                <li *ngFor="let link of literatureData.links"><a [href]="link.href">{{ link.text }}</a> <span *ngIf="link.warning"> ({{ link.warning }})</span></li>
            </ul>
        </section>
    </section>
    
    <!-- Short stories have a 'body' property. Display it -->
    <section *ngIf="literatureData.body">
        <p><markdown [data]="literatureData.body"></markdown></p>
    </section>
</div>
