<div *ngIf="softwareData">
    <h1>{{ softwareData.title }}</h1>
    <img [src]=softwareData.img />
    <p><markdown [data]="softwareData.summary"></markdown></p>

    <section *ngIf="softwareData.multimedia">
        <h2>Multimedia</h2>
        <iframe *ngFor="let video of softwareData.multimedia.videos" width="560" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section *ngIf="softwareData.links">
        <h2>Enlaces y descargas</h2>
        <app-links-list [links]="softwareData.links"></app-links-list>
    </section>
</div>
<div *ngIf="!softwareData">
    <p>El software buscado no existe o no pudo ser cargado.</p>
    <p><a routerLink="/software">Volver a la lista de software</a></p>
</div>
